@import "tailwindcss";

:root {
  --background: #1c1c1c;
  --primary: #008080;
  --secondary: #ff7f50;
  --accent: #40e0d0;
  --text: #eeeeee;
  --border-divider: #333333;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --primary: #008080;
    --secondary: #ff7f50;
    --accent: #40e0d0;
    --text: #333333;
    --border-divider: #e0e0e0;
  }
}

@theme base {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --color-border-divider: var(--border-divider);
}

* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-[#121212] text-text;
}

main {
  @apply flex justify-center items-center h-screen p-4;
}

.shape {
  @apply relative;

  &::after,
  &::before,
  .shape-diff,
  .shape-diff-2,
  .shape-diff-3 {
    @apply absolute w-8 h-8 bg-accent;
    content: "";
  }

  .shape-diff-3 {
    @apply -right-2.5 top-5 bg-background;
  }

  .shape-diff-2 {
    @apply -top-2.5 right-5 bg-background;
  }

  .shape-diff {
    @apply top-0 right-0 bg-background rounded-bl-lg;
  }

  &::before {
    @apply top-8 right-0 rounded-lg z-10;
  }

  &::after {
    @apply right-8 top-0 rounded-lg z-10;
  }
}
